{% extends "plantillas/principal.html" %}


{% block content %}
<!-- CSS only -->

<center><br><br><br><br>
  <div style="width: 40rem; height: 30rem; background-color: #FFFFFF;"><br>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <center>
      <div style="width: 37rem; height: 26rem; background-color: #FFFFFF;">
        <br>
        <h2>DATOS DE UN PERIODO ACADÉMICO</h2>
        <br>

        <form method="POST">
          <div class="container">
            {% csrf_token %}
            {% load materializecss %}
            {{form|materializecss}}

            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="sumit" style="margin: 10px;">EDITAR</button>
            </div>
          </div>
      </div>
    </center>

    </form>
  </div>
</center><br><br><br>
{% endblock content %}