{% extends "plantillas/principal.html" %}
{% block content %}
<!-- CSS only -->

<center><br><br><br><br>
  <div class="" style="width: 40rem; background-color: #FFFFFF;"><br>

    <div class="container">


      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

      <center>
        <div class="" style="width: 37rem; background-color: #FFFFFF;"><br>

          <h2>DATOS DEL ESTUDIANTE</h2>


          <form method="post">
            <div class="container">
              {% csrf_token %}
              {% load materializecss %}
              {{form|materializecss}}

              <div class="d-grid gap-2">
                <button class="btn btn-primary" type="sumit" style="margin: 10px;">EDITAR</button>
              </div>
            </div>
          </form>
        </div>
      </center>
    </div>
  </div> <br><br><br>
</center>

{% endblock content %}