{% extends "plantillas/principal.html" %}

{% block titulo %}Lista de Cursos{% endblock titulo%}


{% block js %}
<script>
    function eliminarCurso(id) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                    'Deleted!',
                    'Your file has been deleted.',
                    'success'
                )
            }
        })
    }
</script>
{% endblock %}




{% block content %}

<br><br><br><br>

<center>
    <div class="card center" style="width: 75rem; background-color: #FFFFFF; padding-top: 15px">

        <div class="container">


            <!-- CSS only -->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
                integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
                crossorigin="anonymous">

            <center>
                <div class="card center" style="width: 72rem; background-color: #FFFFFF;">
                    {{block.super}}
                    <br>

                    <h2>LISTA DE CURSOS</h2>


                    <table class="table table-bordered">
                        <thead>
                            <tr class="text-center">
                                <th>Periodo Academico</th>
                                <th>Fecha de Inicio</th>
                                <th>Duracion de la Carrera</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for aca in Academico %}
                            <tr class="text-center">
                                <td>{{aca.Periodo_Academico}}</td>
                                <td class="text-center">{{aca.Fecha_inicio_Periodo}}</td>
                                <td class="text-center">{{aca.Duracion_Ciclo}}</td>
                                <td class="text-center"><a href="{% url 'Academico:editarPeriodoAcademico' aca.id %}"
                                        class="btn btn-info btn-sm">EDITAR</a> |
                                    <a href="{% url 'Academico:eliminarPeriodosAcademicos' aca.id %}"
                                        class="btn btn-danger">ELIMINAR</a>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>


                    </table>
                </div>
            </center>
        </div>
    </div> <br><br><br>
</center>

{% endblock content %}


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>