{% extends "plantillas/principal.html" %} 

{% block content %}    
        <br><br>
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

<center>
    <div class="container">
        <div class="row">

            {% for aca in Academico %} 
            <div class="col s12 m6">

                <div class="card blue-grey darken-1">

                    <div class="card-content white-text">
                    <span class="card-title">{{aca.Periodo_Academico}}</span>
                        <p>{{aca.Duracion_Ciclo}}</p>
                        <p>{{aca.Fecha_inicio_Periodo|date:"l d F Y"}}</p>
                    </div>
                    <div class="card-action">
                    <a href="{% url 'Academico:matriculasEstudiantes' %}">Matricular</a>
                    <a href="{% url 'Academico:lista_matriculasEstudiantes' %}">Lista de Matriculados</a>
                    </div>
                </div>        
            </div>
            
            {% endfor %}
        </div>
    </div>
</center>
{% endblock %}
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
