{% extends "plantillas/principal.html" %}

<!-- CSS only -->
{% block content %}
<div class="container">
    <br><br><br><br>

    <center>
        <div class="card center" style="width: 44rem; height: 26rem; background-color: #FFFFFF; padding-top: 15px">




            <center>
                <div class="card " style="width: 41rem; height: 22rem; background-color: #FFFFFF;">

                    <h2>REGISTRAR NUEVO PERIODO ACADÉMICO</h2>

                    <form method="POST" enctype="multipart/form-data">
                        <div class="container">

                            {% csrf_token %}
                            {% load materializecss %}
                            {{forms|materializecss}}


                            <div class="d-grid gap-2">
                                <button class="btn btn-primary" type="sumit">CREAR</button>

                            </div>
                        </div>
                    </form>
                </div>
            </center>
        </div><br><br><br>
    </center>
</div>


{% endblock %}

<!-- JavaScript Bundle with Popper -->